@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
    /* Fixed typo in RGB */
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* navigation code  */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #fdc93b;
}